.Modal::backdrop {
    background: hsl(0 0% 0% / 50%);
}

.Modal {
    max-width: 20rem;
    padding: 1.4rem 1.4rem 0.4rem;
    border: 0;
    border-radius: 0.5rem;
    position: fixed;
    box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
}

.Dialog_Button.Hidden {
    display: none;
}

.Close_Button {
    background-color: var(--bourso-light-blue);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 5px 10px 10px;
}

.Close_Button:hover {
    background-color: var(--bourso-dark-blue);
}

.Save_Button {
    background-color: var(--bourso-light-green);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 5px 10px 10px;
}

.Save_Button:hover {
    background-color: var(--bourso-dark-green);
}

.Delete_Button {
    background-color: var(--bourso-light-red);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 5px 10px 10px;
}

.Delete_Button:hover {
    background-color: var(--bourso-dark-red);
}

.Dialog_Content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: var(--bourso-light-grey) 1px solid;
    max-width: 100%;
}

