.form-row + .form-row {
    margin-top: 1rem;
}

.form-row label,
.form-row input,
.form-row select,
.form-row button {
    width: 100%;
    display: block;
}

.btn.hidden {
    display: none;
}

.form-row label {
    color: #282c34;
}