.Form_row + .Form_row {
    margin-top: 1rem;
}

.Form_row label,
.Form_row input,
.Form_row select,
.Form_row button {
    width: 100%;
    display: block;
}

.btn.hidden {
    display: none;
}

.Form_row label {
    color: var(--bourso-grey);
}